parameters:
    level: 6
    checkGenericClassInNonGenericObjectType: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
services:
    -
        class: App\Rules\YodaExpressionRule
        tags:
            - phpstan.rules.rule
